{%extends 'layout/base.html'%}

{%block title%}Giỏ hàng{%endblock%}
{%block footer%}
{%endblock%}
{%block content%}
<h1 class="text-center text-success mt-1">GIỎ HÀNG</h1>
{%if 'cart' in session and session['cart']%}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Số lượng</th>
        <th></th>
    </tr>
    {% for p in session['cart'].values()%}
    <tr id="product{{p.id}}">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{"{:,.0f}".format(p.price)}} VND</td>
        <td>
            <input type="number" value="{{p.quantity}}" class="form-control" onblur="updateCart({{p.id}}, this)">
        </td>
        <td>
            <button class="btn btn-danger" onclick="deleteCart({{p.id}})">&times;</button>
        </td>
    </tr>
    {%endfor%}
</table>

<div class="alert alert-info">
    <h3>Tổng số lượng: <span class="cart-counter">{{stats_cart.total_quantity}}</span></h3>
    <h3>Tổng số tiền thanh toán: <span class="cart-amount">{{"{:,.0f}   ".format(stats_cart.total_amount)}} VND</span></h3>
</div>

{%if current_user.is_authenticated%}
<button class="btn btn-success" onclick="pay()">Thanh toán</button>
{%else%}

<h3 >Vui lòng <a href="/login?next=/cart">đăng nhập</a> để thanh toán!</h3>

{%endif%}
{%else%}
<div class="alert alert-info">Không có sản phẩm trong giỏ hàng!</div>
{%endif%}
{% endblock%}